@{
    ViewData["Title"] = "About";
    ViewData["HeadText"] = "This is my ";
    ViewData["BoldText"] = "about page";
}

<center>
        <p style="font-size: 50px; margin-top: 25px; margin-bottom: 5px;">My name is <b style="color: #42D0FF;">Nathan Boehm</b>.<span style="font-size: 15px;"> (If that wasn't obvious)</span></p>
        <p class="f20">I make silly internet videos and I like to program games and random software.<br><br>Examples of my aformentioned silly videos:</p>
        <iframe width="433" height="243.5" src="https://www.youtube.com/embed/qPni1KR6xD0" title="Tom News Network: Attack of Planet X" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe width="324.5" height="243.5" src="https://www.youtube.com/embed/cShT5SXaxdE" title="Soda Drinker Pro: NES Edition Commercial" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <p class="f20">I know many programing languages, including but not limited to Python, Java, C#, Javascript, HTML/CSS, Excel VBA, TI-84 Calculator, 6502 assembly, Brainf*ck, and Scratch.</p>
      </center>