@{
    ViewData["Title"] = "Classmates";
    ViewData["HeadText"] = "These are my ";
    ViewData["BoldText"] = "classmates";
}

<center>
        <p style="font-size: 30px; margin: 40px 0 20px 0;">I'm attending classes at Centriq Training. These are my classmates.</p>
      </center>
      
      <div class="container">
      
        <div style="background-color: #02245B; color: white;">
          <b>Ben Grochowsky</b>
          <a href="http://www.webejammn.com" target="_blank">
            <span class="link"></span>
          </a>
        </div>
      
        <div style="background-color: white; color: black;">
          <b>Colton Hammond</b>
          <a href="http://www.coltonhammond.com" target="_blank">
            <span class="link"></span>
          </a>
        </div>
      
        <div style="background-color: #E5E5E5; color: black;">
          <b>Gabriel Ramirez</b>
          <a href="http://www.gramirezcoding.com" target="_blank">
            <span class="link"></span>
          </a>
        </div>
      
        <div style="background-color: #e9e8e6; color: black;">
          <b>Harrison Smith</b>
          <a href="http://www.harrisonwsmith.com" target="_blank">
            <span class="link"></span>
          </a>
        </div>
      
        <div style="background-color: white; color: #fd0606;">
          <b>John Black</b>
          <a href="http://www.johnblackcoding.com" target="_blank">
            <span class="link"></span>
          </a>
        </div>
      
        <div style="background-color: white; color: black;">
          <b>Kate Baldwin</b>
          <a href="http://www.marykatebaldwin.com" target="_blank">
            <span class="link"></span>
          </a>
        </div>
      
        <div style="background-color: rgb(33, 29, 54); color: rgba(247, 197, 197);">
          <b>Scott Cousino</b>
          <a href="http://www.scottcousino.net" target="_blank">
            <span class="link"></span>
          </a>
        </div>

      </div>

<!-- I just wanted to make video games. Why did you have to make me hate what I love most. You've tarnished my beautiful website. You've stripped me of my creativity. I'm walking on thin ice simply by making my own design. I can't believe you wanted me to use one of those horrible templates. Just give me my dead-end job so I can pay for your shitty program. -->