@{
    ViewData["Title"] = "Contact";
    ViewData["HeadText"] = "This is my ";
    ViewData["BoldText"] = "contact page";
}

<div class="container" style="justify-content: center; background-color: black;">
        
        <div style="background-color: white; color: black;">
          <p>Name: <input type="text" style="font-size: 0.75em;"></p>
        </div>
        
        <div style="background-color: white; color: black;">
          <p>Email: <input type="text" style="font-size: 0.75em;"></p>
        </div>
        
        <div style="background-color: white; color: black;">
          <p>Subject: <input type="text" style="font-size: 0.75em;"></p>
        </div>
        
        <div style="background-color: white; color: black; vertical-align: middle; font-size: 2.25em;">
          Content: <textarea rows="4" cols="50"></textarea>
        </div>
      
        <div style="background-color: black; color: white; max-width: 150px;">
          <b>Send</b>
          <a href="#">
            <span class="link"></span>
          </a>
        </div>

      </div>