@model PersonalSite.Models.ContactViewModel

@{
    ViewData["Title"] = "Contact";
    ViewData["HeadText"] = "This is my ";
    ViewData["BoldText"] = "Contact page";
}


        <form asp-action="Contact">
      <div class="container">
        
        <div style="background-color: white; color: black;">
          <!--<p>Name: <input type="text" style="font-size: 0.75em;"></p>-->
            <label asp-for="Name" class="control-label" style="font-size: 0.75em;"></label>
            <input asp-for="Name" class="form-control" style="font-size: 0.5em;"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        
        <div style="background-color: white; color: black;">
          <!--<p>Email: <input type="text" style="font-size: 0.75em;"></p>-->
            <label asp-for="Email" class="control-label" style="font-size: 0.75em;"></label>
            <input asp-for="Email" class="form-control" style="font-size: 0.5em;"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        
        <div style="background-color: white; color: black;">
          <!--<p>Subject: <input type="text" style="font-size: 0.75em;"></p>-->
            <label asp-for="Subject" class="control-label" style="font-size: 0.75em;"></label>
            <input asp-for="Subject" class="form-control" style="font-size: 0.5em;"/>
            <span asp-validation-for="Subject" class="text-danger"></span>
        </div>
        
        <div style="background-color: white; color: black; vertical-align: middle; font-size: 2.25em;">
          <!--Message: <textarea rows="4" cols="50"></textarea>-->
            <label asp-for="Message" class="control-label" style="font-size: 0.75em;"></label>
            <textarea asp-for="Message" class="form-control" style="font-size: 0.5em;" rows="4" cols="50"></textarea>
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>
      
        <div style="background-color: black; color: white;">
          <input type="submit" value="Send" class="btn btn-primary" style="font-size: 1.5em; background-color: black; color: white;" />
          <!--<a href="excel.html">
            <span class="link"></span>
          </a>-->
        </div>

      </div>
        </form>