@{
    ViewData["Title"] = "Excel Games";
    ViewData["HeadText"] = "These are my ";
    ViewData["BoldText"] = "Excel games";
}

<div class="container">
      
        <div style="background-color: #037945; color: white;">
          <p><b class="title">Minecraft</b><br>A more refined version of Sethbling's Minecraft 2.0.</p>
          <a href="/rsc/Minecraft.xlsm">
            <span class="link"></span>
          </a>
        </div>

        <div style="background-color: #037945; color: white;">
          <p><b class="title">Connect 4</b><br>The classic 4-in-a-row game for 2 players.</p>
          <a href="/rsc/Connect_4.xlsm">
            <span class="link"></span>
          </a>
        </div>

        <div style="background-color: #037945; color: white;">
          <p><b class="title">Minesweeper</b><br>Ported from a version I coded on a TI-84 Calculator.</p>
          <a href="/rsc/Minesweeper.xlsm">
            <span class="link"></span>
          </a>
        </div>

        <div style="background-color: #037945; color: white;">
          <p><b class="title">Wordle</b><br>That word game everyone used to play, now in Excel.</p>
          <a href="/rsc/Wordle.xlsm">
            <span class="link"></span>
          </a>
        </div>

        <div style="background-color: #037945; color: white;">
          <p><b class="title">Slide Puzzle</b><br>A good-ol' 15 puzzle.</p>
          <a href="/rsc/Wordle.xlsm">
            <span class="link"></span>
          </a>
        </div>

      </div>