@{
    ViewData["Title"] = "Resume";
    ViewData["HeadText"] = "This is my ";
    ViewData["BoldText"] = "resume";
}
<center>
        <p style="font-size: 40px; margin-top: 0 25px;">For the employer within all of us.</p>
        <p style="font-size: 30px;"><a href="/rsc/resume.pdf" target="_blank">Click to Download</a></p>
        <embed src= "/rsc/resume.pdf" width= "500" height= "650" type="application/pdf">
      </center>