@{
    ViewData["Title"] = "Soda Drinker Pro";
    ViewData["HeadText"] = "This is my ";
    ViewData["BoldText"] = "video game";
}

<center>
        <img src="/rsc/sodabanner.png" alt="Preorder from December 15th to January 14th" style="width: 95%; max-width: 750px; margin-top: 10px;">
        <p style="font-size: 50px; margin: 10px; font-weight: bold;">Drink soda on the NES!</p>
        <p style="font-size: 30px;">
          Soda Drinker Pro is a PC/Xbox game in which you drink soda through over 100 levels.<br>
          Now, you can drink soda like it's 1985! Soda Drinker Pro is coming to the NES!<br>
          Every level was faithfully converted to the style of a 2D Sidescroller.<br>
          Every level has unique music! Enjoy the chiptune tracks as you drink away!
        </p>
        <p style="font-size: 50px; margin: 10px; font-weight: bold;">Trailers:</p>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/zw5cmzh_eS4" title="Soda Drinker Pro: NES Edition - Announcement Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/cShT5SXaxdE" title="Soda Drinker Pro: NES Edition Commercial" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
</center>